/********************************************************
 * Pit Loader
 *
 * A loader inspired by the Pit logo
 *
 ********************************************************/

body {
    --primary: #E9AE24;
    --square: 100;
    --gap: 25;
    --canvas: calc(var(--square) * 2 + var(--gap));
    --animation-duration: 3s;
}

#pit-loader {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--gap) * 1px);
    width: calc(var(--canvas) * 1px);
    height: calc(var(--canvas) * 1px);
    transform: rotate(225deg);
    animation: var(--animation-duration) ease-in-out infinite loader;
}

/* Component of the pit logo, with a transparent center */
.pit-square {
    position: absolute;
    width: calc(var(--square) * 0.4px);
    height: calc(var(--square) * 0.4px);
    border: calc(var(--square) * 0.3px) solid var(--primary);
}

/* Small square next to each square */
.pit-square::after {
    content: "";
    position: absolute;
    width: calc(var(--square) * 0.3px);
    height: calc(var(--square) * 0.3px);
    background-color: var(--primary);
    bottom: calc(var(--square) * 0.4px);
    right: calc(var(--square) * 0.4px * 2);
    animation: var(--animation-duration) ease-in infinite addon;
}

/* Specific position for each square */
.pit-square:nth-child(1) {
    top: calc(var(--square) * 1px + var(--gap) * 1px);
    animation: var(--animation-duration) ease-in infinite square-1;
}

.pit-square:nth-child(2) {
    left: calc(var(--square) * 1px + var(--gap) * 1px);
    animation: var(--animation-duration) ease-in infinite square-2;
    rotate: 180deg;
}

.pit-square:nth-child(3) {
    left: calc(var(--square) * 1px + var(--gap) * 1px);
    top: calc(var(--square) * 1px + var(--gap) * 1px);
    animation: var(--animation-duration) ease-in infinite square-3;
    rotate: 270deg;
}

.pit-square:nth-child(4) {
    border-color: var(--primary);
    animation: var(--animation-duration) ease-in infinite square-4;
    rotate: 90deg;
}

/* Animation of the whole logo */
@keyframes loader {
    0% {
        opacity: 0;   
        transform: scale(0); 
    }
    10% {
        opacity: 1;
        transform: scale(1);
    }
    35% {
        transform: rotate(-225deg);
    }
    80% {
        transform: rotate(135deg);
        opacity: 1;
    }
    100% {
        transform: rotate(135deg) scale(0);
        opacity: 0;
    }
}

/* Animation of the right square */
@keyframes square-1 {
    0% {
        opacity: 0;
        right: 0;
    }
    20% {
        opacity: 0;
        right: 0;
    }
    25% {
        opacity: 1;
        right: calc((var(--square) + var(--gap)) * 1px);
    }
}

/* Animation of the left square */
@keyframes square-2 {
    0% {
        opacity: 0;
        left: 0;
    }
    10% {
        opacity: 0;
        left: 0;
    }
    15% {
        opacity: 1;
        left: calc((var(--square) + var(--gap)) * 1px);
    }
}

/* Animation of the top square */
@keyframes square-3 {
    0% {
        opacity: 0;
        top: 0;
    }
    15% {
        opacity: 0;
        top: 0;
    }
    20% {
        opacity: 1;
        top: calc((var(--square) + var(--gap)) * 1px);
    }
}

/* Animation of the bottom square */
@keyframes square-4 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
}

/* Animation of the addon */
@keyframes addon {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
        right: 0;
    }
    35% {
        opacity: 1;
        right: calc(var(--square) * 0.4px * 2);
    }
}

